package listas

import (
	"github.com/vinifrancosilva/lista_v2/internal/models"
)

templ ListaDeListas(listas []models.ListaDbSelect) {
	<div
		class="flex flex-col sm:flex-row justify-center items-center gap-4"
		id="lista_de_listas"
	>
		for _, lista := range listas {
			@CardLista(lista)
		}
	</div>
}

